header {
    padding-bottom: 20px;
}
header::before {
    content: '';
    position: absolute;
    background-color: var(--baby-blue);
    width: 100%;
    height: 5px;
}

.static-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.second-page-logo-container {
    padding: 5px;
}

.second-page-logo {
    width: 250px
}

.search-bar {
    width: 40%;
    position: relative;
}

#search-bar {
    outline: none;
    border: solid var(--lookalike-gray) 1px;
    border-radius: 1px;
    padding: 5px 30px 5px 5px;
    width: 100%;
    position: relative;
}

.search-icon-container {
    width: fit-content;
    position: absolute;
    right: 10px;
    top: calc(50% - 15px);
    font-size: 20px;
    cursor: pointer;
}

#search-bar:not(:focus) ~ .search-icon-container:not(:active) + .search-list {
    display: none !important;
}

.sign-in-add-to-cart-container {
    font-size: 0.9rem;
    position: relative;
}

.sign-in, .name {
    color: var(--lookalike-gray);
    margin-right: 5px;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
}

.name {
    padding: 0 0 15px 0;
}

.tgl-list, .categories_list {
    position: absolute;
    color: var(--lookalike-gray);
    border: solid 0.5px var(--lookalike-gray);
    border-radius: 2px;
    padding: 5px 10px 5px 5px;
    width: 150px;
    background-color: #fff;
    top: 45px;
    left: 0;
    display: none !important;
    z-index: 999 !important;
}
.tgl-list::before, .categories_list::before{
    content: '';
    width: 15px;
    height: 15px;
    background: #fff;
    border: solid 0.5px;
    border-color: var(--lookalike-gray) transparent transparent var(--lookalike-gray);
    position: absolute;
    top: -8px;
    left: 8px;
    transform: rotate(45deg);
}

.tgl-list > li, .categories_list > ul > li{
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
}
.tgl-list > li:hover , .categories_list > ul > li:hover{
    color: var(--lookalike-gray);
    transform: translateX(-5px)
}

.tgl-list > li > a{
    color: var(--lookalike-gray)
}

.after-arrow > a {
    padding: 15px 0;
}

.name:hover + .tgl-list,
.tgl-list:hover , .after-arrow:hover + .categories_list, .categories_list:hover{
  display: block !important;
}

.name:hover {
    color: var(--lookalike-gray);
}

.sign-in:hover, .nav-menu li a:hover{
    color: var(--orange);
}

.cart-container {
    margin-left: 5px;
    position: relative:
}

.cart-text {
    font-weight: 900;
    color: initial;
    margin-right: -4px;
    position: relative;
}


.cart-text::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.5px;
    opacity: 0.5;
    background-color: var(--lookalike-gray);
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.cart-icon {
    color: var(--orange);
    font-size: 25px;
    position: relative;
    top: 2px;
    position: relative;
}

.books-count {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    font-size: 15px;
    color: var(--orange);
    font-weight: 700;
    top: -2px;
    right: -2px;
    padding: 0 0 2px 3px;
}

.nav-menu {
    padding: 0;
    color: var(--lookalike-gray);
    position: relative;
}

.nav-menu li {
    display: inline-block;
    font-size: 0.9rem;
    margin-right: 25px;
    position: relative;
}

.nav-menu li a{
    color: inherit;
    transition: 0.2s;
}


.search-list {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 999;
    border: solid 0.5px var(--lookalike-gray);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 99%;
}
.list-item{
    display: flex;
    gap: 5%;
    justify-content: left;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.list-item:hover {
    background-color: #eee;
    padding-left: 30px
}
.list-item img {
    width: 60px;
}
.list-item h6{
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: -3px
}
.list-item span {
    font-size: 0.8rem;
}
.categories_list {
    width: unset;
    top: 36px;
    min-width: 300px;
    left: 70px;
}
.categories_list ul li {
    display: block;
    padding: 7px 70px 7px 15px;

}
.dynamic-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.dynamic-header > div {
    color: var(--bronze);
    cursor: pointer;
    transition: 0.2s ease;
}
.dynamic-header > div:hover {
    color: var(--orange);
}