<footer class="footer">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <div class="footInf">
        <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#">help & FAQ</a></li>
            <li><a href="#">terms & conditions</a></li>
        </ul>
        <span class="line"></span>
        <p>&copy; 2023 toufah achraf & Katongo chanda | all rights reserved</p>
    </div>
</footer>