<header>
    <div class="static-header ach-container">
        <a href="/" class="second-page-logo-container">
            <img src="/Images/Logo/SecondPageLogo-01.svg" alt="logo" class="second-page-logo" />
        </a>
        <div class="search-bar">
            <input type="text" name="search" id="search-bar" placeholder="Search"/>
            <div class="search-icon-container">
                <i class="bi bi-search"></i>
            </div>
        </div>
        <div class="sign-in-add-to-cart-container">
            <a href="#" class="sign-in">sign in</a>
            <span class="separator"></span>
            <a href="#" class="cart-container">
                <span class="cart-text">cart</span>
                <i class="bi bi-cart cart-icon"></i>
            </a>
        </div>
    </div>
    <div class="dynamic-header ach-container">
        <ul class="nav-menu">
            <li><a href="/">books</a></li>
            <li class="after-arrow"><a href="counter">featured</a></li>
            <li><a href="#">sell</a></li>
            <li><a href="#">help</a></li>
        </ul>
    </div>
</header>